---

---

<div class="bg-secondary dark:bg-primary-dark w-72" x-data>
  <div class="bg-primary dark:bg-primary mb-2 p-2 text-center">
    <h2 class="text-primary-text text-md">Vote Results</h2>
  </div>

  <template x-for="(user, index) in $store.room.participants">
    <div class="flex flex-row items-center my-2 mx-5">
      <div class="flex-1 px-2" x-text="user.name"></div>
      <div class="px-2">
        <template x-if="$store.room.revealed">
          <span x-text="user.vote || '-'"></span>
        </template>
        <template x-if="!$store.room.revealed">
          <span
            :class="user.vote ? 'iconify mdi--check-circle' : 'iconify mdi--timer-sand'"
          ></span>
        </template>
      </div>
      <template x-if="$store.room.isOwner">
        <div class="px-2 w-8 flex items-center cursor-pointer" @click="window.room.removeUser(user.id)">
          <span :class="index > 0 ? 'iconify mdi--delete' : ''"></span>
        </div>
      </template>
      </div>
    </div>
  </template>

  <template x-if="$store.room.revealed && room.consensus()">
    <div class="my-2 mx-5 bg-success text-center rounded-lg">Consensus!</div>
  </template>
</div>
