---
interface Props {
  points: (string | number)[]
}

const { points } = Astro.props
---

<div class="grid grid-cols-6 gap-3">
  {
    points.map((value) => (
      <div
        class="flex items-center justify-center h-64 rounded-lg text-3xl cursor-pointer"
        x-data={`{value: '${value}'}`}
        x-bind:class="value == room.myVote() ? 'bg-primary text-primary-text' : 'bg-secondary'"
        x-on:click="value == room.myVote() ? room.unvote() : room.vote(value)"
      >
        {value}
      </div>
    ))
  }
</div>
